@use "./../../styles/vars";

.form-technologies {
  display: flex;
  height: 30rem;
  flex-direction: column;
  justify-content: space-between;

  &-title {
    color: vars.$darkGrey;
    margin-bottom: 2rem;
  }

  &-disclaimer {
    color: vars.$darkGrey;
    font-size: 0.8rem;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    line-height: 1.1rem;
  }

  &-empty {
    color: grey;
    font-size: 0.8rem;
  }

  &-items {
    display: flex;
    align-items: baseline;
    

    & i {
      padding-right: 0.5rem;
    }
    & p {
      width: 70%;
      font-size: 0.8rem;
    }
  }

  &-delete {
    cursor: pointer;
  }
}

.form-technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
height:20rem;

  &-content {
    width: 25%;
  }

  &-70 {
    min-height: 60%;
  }
}

.width-80 {
  width:80%;
}





// DARK MODE 

#dark .form-technologies {

  &-title {
    color: white,
  }

  &-disclaimer {
    color: white,
  }
}

#dark .form-technologies-container-content {
  & h4 {
    color:white;
  }

  & span {
    background: vars.$linearGradientDarkMode;
  }
}

#dark .form-technologies-empty {
  background-color: none;
}
