@use "./../../styles/vars";

.create-project {
  height: 100vh;
}

.create-project {
  background-color: #fff;
  height: 120vh;
  margin-bottom: 4rem;

  &-container {
    padding: 4rem;
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-weight: lighter;
    font-size: 1.6rem;
    color: vars.$grey;
    margin-bottom: 0.5rem;
    background: vars.$linearGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-left {
    width: 24%;
    border-right: solid 1px vars.$primaryColor;
  }

  &-right {
    width: 75%;
    height: auto;
    padding: 0 4rem;

    &-container {
      display: flex;

      &-left {
        width: 50%;
      }
      &-right .form-group-project {
        width: 50%;
      }
    }
  }
}

.public-DraftEditor-content {
  max-height: 14rem;
  overflow-y: scroll;
  background-color: vars.$backgroundLight;
  padding: 2rem;
}
