.project-information-form-dark {
    padding-right: 2rem;

    & input {
        margin-top: 0.5rem;
    }
}

.create-project-inputs-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &-right {
        width:65%;
    }

    &-left {
        width:30%;
    }
}

.project-create-avatar-img {
    width:14rem;
    height:9rem;
    object-fit: cover;
}

.hour_style {
    font-size: 0.7rem;
    
}

.hour_start {
    position: absolute;
    left: 0.8rem;
    top: 0.5rem;
    background-color: white;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.hour_end {
    position: absolute;
    left: 16rem;
    top: 0.5rem;
    background-color: white;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.hour_container {
    position: relative;
}


// RESPONSIVE 

@media screen and (width < 600px) {

    .create-project-inputs-container {
      &-left {
        width: 100%;
        margin-bottom: 1rem;
      }

      &-right {
        width: 100%;
      }
    }
  
}


// DARK

#dark .create-project-inputs-container {
    & input {
    background-color: #323c5a;
    }
}

#dark .hour_style {
    color: white;
    
}

#dark .hour_end {
    background-color: rgba(255, 255, 255, 0);
    top: 0rem;
    left: 15.1rem;
}

#dark .hour_start {
    background-color: rgba(255, 255, 255, 0);
    top: 0rem;
    left: 0.1rem;
}