@use "./../../styles/vars";

.charte_container {
    
    

    &_main {
        margin: 3em 20em 3em 20em;
    }

    &_title {
        background-color: hsl(234, 85%, 74%, 70%);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height:100px;
        margin-bottom: 3rem;
        padding: 1rem 2rem 1rem 2rem;
        color:white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    }

  
}

.charte_main {
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2em 4em 2em 4em;

    &_conditions {
        line-height: 25px;
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    &_section {
        font-weight: bold;
        line-height: 25px;
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    &_list {
        margin-bottom: 1em;
        font-size: 1.1em;
    }
}

.align {
    text-align: center;
}

@media screen and (width < 1200px) {
    .charte_container_main {
        margin: 3em 10em 3em 10em;
    }
  
  
  }

  @media screen and (width < 900px) {
    .charte_container_main {
        margin: 3em 5em 3em 5em;
    }
  
  
  }

  @media screen and (width < 600px) {
    .charte_container_main {
        margin: 3em 2em 3em 2em;
    }
  
  
  }

  // DARK MODE 

#dark .charte_main {
    background: vars.$linearGradientDarkModeCards; 
    color: white;
}

#dark .charte_container_title {
    background: linear-gradient(to top left ,  #219898b0, #24085c  );
}