$menuWidth: 250px;
$smallMenuWidth: 150px;
$small: 700px;
$gutter: 1.5rem;
$color: #209cee;

$primaryColor: #7149f5;
$secondaryColor: blue;
$thirdColor: blue;
$grey: grey;
$darkGrey: #a9a9a9;
$lightGrey: #696969;
$linearGradient: linear-gradient(to right, #30cfd0 0%, #330867 100%);
