@use "./../../styles/vars";

.about_container {
    

    &_main {
        margin: 5em 20em 5em 2em;
    }

    &_title {
        border-radius: 40px 40px 0px 0px;
        padding: 2em;
        text-align: center;
        background-image: url("./../../assets/images/footer-bg2.png");
        background-size: cover;
        color: white;

    }

    &_end {
        border-radius: 0px 0px 40px 40px;
        padding: 2em;
        text-align: center;
        background-image: url("./../../assets/images/footer-bg2.png");
        background-size: cover;
        color: white;
    }
}

.about_main {
    border: 1px rgba(0, 0, 0, 0.303) solid;
    padding: 3em 4em 7em 4em;
    display: flex;

    &_section {
        font-weight: bold;
        line-height: 25px;
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    &_list {
        margin-bottom: 1em;
        font-size: 1.1em;
    }
}

.swippertest  .swiper {
    width: 250px;
    height: 250px;
    position: relative;
    margin-left: 2.5em;
    margin-right: 2.5em;
    text-align: center;
}


.swippertest  .swiper-slide {
    background-position: center;
    background-size: cover;
}

.swippertest  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .cube_name {
    font-size: 1.2em;
    font-weight: bold;

    &_job {
      font-size: 1em;
    font-weight: bold;
    }
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.06);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .swippertest  .swiper:hover .overlay {
    width: 100%;
    left: 0;
  }

  .swipe_icon {
    margin-right: 0.4em;
  }

  .text {
    position: absolute;
    top: 3%;
    left: 86%;
    font-size: 0.9em;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .cube_letter {
    position: absolute;
    top: -40%;
    margin-left: 0.16em;
    font-size: 15em;
  }

  .achange {
    background-color: #fff;
  height:37vh;
  // min-height: 37vh;
  // max-height: 37vh;
  padding: 0 1rem 2rem 1rem;
  }