@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

.profiles {
  font-family: "Montserrat", sans-serif;
  
  &_hero {
    background-image: url("../../assets/images/hero-background.png");
    height: 80vh;
    background-position: center bottom;
  
  }
}



