@use "./../../styles/vars";

.input-container {
  z-index: 0;
  padding-top: 4rem;
  width: 60%;
  margin:auto;

  &-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.results-container {
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 0.4rem 0.2rem;
}

.result-span-title {
  display: "block";
  font-size: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
  padding: 0 0.5rem;
}

.result-span-subtitle {
  display: "block";
  color: grey;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.select-input-container {
  display: flex;
  justify-content: center;
}

.select-input {
  margin-top: 0.5em;
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.favoris {
  margin-left: 5em;
  cursor: pointer

}

.favoris:hover {
  background-color: rgba(255, 255, 255, 0.601);
  border-radius: 20px;
  color: #6560fb;

}

.projects-searchbar-container {
  position:relative;
}

.projects-searchbar-init-search {
  position:absolute;
  top:0.75rem;
  right:-1.5rem;
  color:white;
  cursor: pointer;
}


@media screen and (width < 800px) {

  .input-container {
    width: 80%;
  }
}

// DARK MODE 

#dark .favoris:hover {
  background-color: #4f30ea76;
  color:#249e9e;

}
