@use "./../../styles/vars";

.input-container {
  z-index: 0;
  padding-top: 4rem;
  width: 60%;
  margin:auto;
}

.results-container {
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 0.4rem 0.2rem;
}

.result-span-title {
  display: "block";
  font-size: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
  padding: 0 0.5rem;
}

.result-span-subtitle {
  display: "block";
  color: grey;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.select-input-container {
  margin:auto;
  display: flex;
  justify-content: center;
}

.select-input {
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  background-color: transparent;
  font-size: 1rem;
}




@media screen and (width < 800px) {

  .input-container {
    width: 80%;
  }
}