@use "./../../styles/vars";

.profil {
  width: 90%;
  height: 100vh;
  margin: 2.5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &_desc {
    width: 22%;
    height: 55%;
  }


  &_projets {
    margin-bottom: 5%;
    width: 22%;
  }

  &-middle {
    background-color: #fff;
    width: 54%;
    height: 87vh;
    overflow-y: scroll;
    padding-top: 2rem;

  }
}

.name_container {


  &_user {
    font-size: large;
    font-weight: bold;
  }

  &_avatar {
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
  }
}

.desc_container {
  border-radius: 8px;
  background-color: #fff;
  padding: 2rem 1rem;

  &_main {
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: bold;

  }

  & p {
    margin: 0 2rem;
    font-size: 1rem;
    color: vars.$darkGrey;
    line-height: 1.3rem;
    min-height:180px;

    & i {
      padding-right: 0.5rem;
    }
  }

  &_title {
    font-size: 0.9rem;
    color: vars.$darkGrey;
  }

  &_titlefirst {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 5%;
  }

  &_email {
    font-size: 1rem;
  }

  &_password {
    color: rgb(0, 30, 255);
    text-decoration: underline;
  }

  &_password:hover {
    background: vars.$linearGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_github {
    font-size: large;
    color: rgb(0, 30, 255);
    text-decoration: underline;
  }

  &_github:hover {
    background: vars.$linearGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_linkedin {
    font-size: large;
    color: rgb(0, 30, 255);
    text-decoration: underline;
  }

  &_linkedin:hover {
    background: vars.$linearGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &_role {
    background: vars.$linearGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
  }

  &_technos {
    border-radius: 8px;
    background-color: #fff;
    padding: 0 1rem;
    height: 100%;
  }

  &_description {
    // border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem 1rem;
    height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-user {
      height: 30%;
    }
    &-links {
      height: 60%;
    }
  }

  &_project {
    background-color: #fff;
    padding: 2rem 0.5rem;
    margin-bottom: 5%;
    height: 82vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.big_title {
  font-size: large;
  padding-top: 2rem;
}

.technos_logo {
  font-size: 5em;
  margin: 1rem;
}

.icone_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  &_text {
    text-align: center;
    font-size: 1rem;
    background: vars.$linearGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5%;
  }
}

.project_container {
  text-align: center;
  margin-bottom: 5%;

  &_main {
    background-color: aliceblue;
    padding: 2rem;
    border-radius: 5%;
  }
}

.card_project {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgb(65 70 245 / 8%) 0px 15px 10px -5px,
    rgb(113 73 245 / 4%) 0px 10px 10px -5px;
  position: relative;
}

.user-technologies {
  background-color: #fff;
  margin-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height:200px;
}

.card_main_title-project {
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.card_img {
  height: 10rem;
}


.profile-edition-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i {
    cursor: pointer;
    color:grey;
  }

  & i:hover {
    cursor: pointer;
    color:rgb(78, 78, 78);
  }
}


.margin0 {
  margin:0;
}