@use "./../../styles/vars";

.profil {

    display: flex;
	flex-direction: row;
	justify-content: space-between;
    margin-top: 2%;

    &_desc {
        margin-bottom: 5%;
        width: 18%;
        height: 55vh;
    }

    &_technos {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 60%;
        height: 42vh;
    }

    &_projets {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 20%;
        height: 69vh;
    }
}

.name_container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8%;

    &_user {
        font-size: large;
        font-weight: bold;
    }
    
    &_avatar {
    width: 70%;
    }
}

.desc_container {

    border-radius: 8px;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 2rem;
    margin-bottom: 5%;

    &_main {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        font-weight: bold;
    }

    &_title {
        margin-top: 15%;
        font-size: 1.4rem;
        font-weight: bold;

    }

    &_titlefirst {
        font-size: 1.4rem;
        font-weight: bold;
        margin-top: 5%;
    }


    &_email {
    font-size: 1rem;

    }

    &_password {
        color: rgb(0, 30, 255);
        text-decoration: underline;
    }

    &_password:hover {
        background: vars.$linearGradient ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    &_github {
        font-size: large;
        color: rgb(0, 30, 255);
        text-decoration: underline;

    }

    &_github:hover {
        background: vars.$linearGradient ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_linkedin {
        font-size: large;
        color: rgb(0, 30, 255);
        text-decoration: underline;

    }

    &_linkedin:hover {
        background: vars.$linearGradient ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &_role {
        font-size: large;
        font-weight: bold;
        background: vars.$linearGradient ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    &_technos {
        border-radius: 8px;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 4%;
    margin-bottom: 5%;
    height: 100%;

    }

    &_description {
        border-radius: 8px;
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 4%;
    margin-bottom: 5%;
    height: 100%;
    }
    
    &_project {
        border-radius: 8px;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 2rem;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 5%;
    height: 100%;
}

}

.big_title {
    font-size: large;
}

.technos_logo {
    font-size: 5em;
    margin: 1rem;
    margin-bottom: 2rem;
}

.icone_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1%;

    &_text {
        text-align: center;
        font-size: 1rem;
        background: vars.$linearGradient ;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        margin-bottom: 5%;
    }
}

.project_container {
    text-align: center;
        margin-bottom: 5%;

    &_main {
        background-color: aliceblue;
        padding: 4%;
        border-radius: 5%;
    }    
}

.card_project {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgb(65 70 245 / 8%) 0px 15px 10px -5px, rgb(113 73 245 / 4%) 0px 10px 10px -5px;
    position: relative;
}
