@use "src/styles/vars";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

.projects {
  font-family: "Montserrat", sans-serif;
  background-color: vars.$backgroundLight;

  &_hero {
    background-image: url("./../../assets/images/hero-background55.png");
    height: 80vh;
    background-position: center bottom;
  }
}
