@use "./../../styles/vars";

.sidebar_container {
  display: flex;
  height: 100%;
  z-index: 1000;
  position: fixed;
}

.sidebar {
  background-image: url("./../../assets/images/footer-bg2.png");
  // background-color: rgb(97, 151, 252);
  color: white;
  height: 100%;
  width: 100%;
  border-right: solid 1px rgba(0, 0, 0, 0.487);

  &_icon {
    color: white;
  }
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 12px;
}

.logo_nav {
  font-size: 1.7em;
  line-height: 0;
  margin-right: 4rem;
  margin-left: 0.6rem;
}

.anim {
  margin-left: 4rem;
}

.space {
  margin-top: 1.5rem;
}

.search_dashbar input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
}

.sidebar_navlink {
  display: flex;
  color: white;
  gap: 12px;
  line-height: 55px;
  border-right: 4px solid transparent;
  padding: 0px 15px;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

a {
  text-decoration: none;
}

.sidebar_navlink:hover {
  color: black;
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  font-size: 1.1em;
}

.side_icon {
  font-size: 1.5rem;
}

.side_text {
  white-space: nowrap;
  font-size: 1.2em;
}

.side_main {
  height: 100%;
  overflow-y: auto; // You can use scroll too
}

.bars_logo {
  cursor: pointer;
}

.profile_container {
  position: absolute;
  bottom: 0;
    color: white;
    gap: 12px;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  
  
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    
    &_details {
    background-color: rgba(255, 255, 255, 0.605);
    display: flex;
    padding: 15px;
    border-radius: 0px 12px 12px 0px;
  }
  
  &_details:hover {
    cursor: pointer;
    color: black;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background-color: rgb(255, 255, 255);
  border-radius: 0px 12px 12px 0px;
  }

  &_img {
    margin-right: 1em;
    width: 30px;
    height: 30px;
  }
}

.job {
  background: vars.$linearGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  color: black;
}

.logo_unlog {
  font-size: 1.7rem;
  margin-top: 0.2em;
  margin-left: 0.6em;
  color: white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &_big {
    font-size: 1.7rem;
    margin-top: 0.2em;
    margin-left: 0.5em;
    color: white;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

}

.logo_unlog:hover {
  color: black;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  font-size: 1.7em;
}

.logo_unlog_big:hover {
  color: black;
  margin-left: 0;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}