@use "./../../styles/vars";

.footer-colored {
  background: url("./../../assets/images/footer-bg2.png");

  &-container {
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: white;

    &-column {
      width: 24%;
      text-align: left;
    }
  }

  &-logo {
    height: 4rem;
    width: auto;
    margin-left: -1.5rem;
    margin-top: -1.2rem;
  }

  & p {
    padding: 0.2rem;
  }

  & a {
    color: white;
  }
}

@media screen and (width < 600px) {
  .footer-container-column {
    width: 100%;
    margin-bottom: 2rem;
  }
}
