@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

.app {
  font-family: "Montserrat", sans-serif;
  background-color: #f9f8fe;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.main-button-white {
  color: white;
  border: solid 2px white;
  font-weight: bolder;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
}

.main-button-bg-white {
  color: #8291f5;
  border: solid 2px white;
  font-weight: bolder;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  background-color: white;
}

.main-button-colored {
  color: white;
  border: solid 2px #32518d;
  font-weight: bolder;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  background-color: transparent;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-button-bg-colored {
  color: #fff;
  border: solid 2px white;
  font-weight: bolder;
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

.container {
  width: 80%;
  margin: auto;
}

.mr-1 {
  margin-right: 1rem;
}

.hero {
  background-image: url("./../../assets/images/hero-background.png");
  height: 85vh;
  background-position: center bottom;

  &-container {
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-left {
    width: 50%;
    padding-right: 5rem;
  }

  &-right {
    width: 50%;
  }

  &-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding-bottom: 2rem;
  }

  &-baseline {
    font-size: 1.2rem;
    color: white;
  }

  &-img {
    width: 100%;
    height: auto;
  }
}
