@use "./../../../styles/vars";

.presentation {
  background-image: url("./../../../assets/images/footer-bg2.png");
  background-size: cover;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 0;
    color: white;

    &-left {
      width: 42%;
      padding-right: 5rem;
    }

    &-right {
      width: 50%;
    }
  }

  &-img {
    width: 100%;
  }

  &-text {
    padding-bottom: 4rem;
  }
}

.main-button-white a {
  color: white ;
}

@media screen and (width < 600px) {
  .presentation {
    &-container {
      &-left {
        width: 100%;
        padding-right: 0;
      }

      &-right {
        width: 100%;
      }
    }

    &-links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
