@use "./../../styles/vars";

.slider-container {
  //   background-image: url("./../../../assets/images/background-blob.png");
  margin: auto;
  padding: 4rem 0 0 0;
}

.mySwiper-home .slide {
  width: 100%;
  background-color: #fff;
  margin-bottom: 4rem;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.mySwiper-home .slide-img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  position: relative;
}

.mySwiper-home .img-content {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mySwiper-home .img-content-btns {
  display: flex;
  align-items: flex-end;
}

.mySwiper-home .stack-button {
  background-color: #fff;
  padding: 0.6rem;
  margin-left: 0.5rem;
  border-radius: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}

.mySwiper-home .icons-container {
  display: flex;
  justify-content: flex-end;
}
.mySwiper-home .img-content-stacks {
  background-color: #fff;
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition-duration: 2s;
}

.mySwiper-home .img-content-jobs {
  background-color: #fff;
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition-duration: 2s;
}

.mySwiper-home .img-content-stacks i {
  font-size: 1rem;
  margin: 0.3rem;
}

.mySwiper-home .img-content-jobs i {
  font-size: 1rem;
  margin: 0.3rem;
}

.mySwiper-home .slider-main-content {
  padding: 1rem;
}

.mySwiper-home .slider-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  cursor: pointer;
}

.mySwiper-home .slider-title:hover {
  background: vars.$linearGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.5s;
}

.mySwiper-home .slider-desc {
  font-size: 0.8rem;
  color: grey;
}

.mySwiper-home .slider-desc a {
  font-weight: bolder;
  color: grey;
}

.mySwiper-home .slider-desc a:hover {
  background: vars.$linearGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 0.5s;
}

.mySwiper-home .slider-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.mySwiper-home .slider-user-container {
  display: flex;
  align-items: center;
}

.mySwiper-home .slider-avatar {
  height: 2rem;
  width: auto;
  cursor: pointer;
  border-radius: 50px;
}

.mySwiper-home .slider-date {
  color: grey;
  font-size: 0.6rem;
}

.mySwiper-home .slider-user-name {
  color: grey;
  font-size: 0.6rem;
  font-weight: bolder;
  padding-left: 0.5rem;
  cursor: pointer;
}

.color-prmary {
  color: #23467d;
}
